* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Lato', sans-serif;
  font-family: 'Righteous', cursive; }

.nav-link:hover {
  transform: scale(1.2);
  transition: all 2s , color 2s; }

.container-fluid {
  background-color: orange; }

.bg-secondary {
  background-color: orange; }

#boxIndex {
  display: flex;
  flex-direction: column;
  align-items: center; }

#mapa {
  margin: 15px auto; }

#boxIndex h2 {
  color: orange; }

.nav-link:hover {
  transform: scale(1.2);
  transition: all 2s , color 2s; }

.col-lg-4 img:hover {
  transform: scale(1.2);
  transition: all 2s; }

.col {
  background-color: orange; }

#quienessomos img {
  width: 200px;
  height: 300px;
  border-radius: 50%;
  margin: 5px 50px;
  align-items: center; }

.row p {
  text-align: left;
  padding: 20px 0px 0px 10px; }

.conteiner {
  display: flex;
  flex-direction: column;
  align-items: center; }

#galeria img {
  width: 100%;
  height: 450px; }

#tituloGaleria {
  color: orange; }
