@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Lato', sans-serif;
  font-family: 'Righteous', cursive;
  background-color: lightgray; }

.nav-link:hover {
  transform: scale(1.2);
  transition: all 2s , color 2s; }

.container-fluid {
  background-color: orange; }

.bg-secondary {
  background-color: orange; }

.container-fluid__footer {
  background-color: orange; }

#boxIndex {
  display: flex;
  flex-direction: flex;
  flex-direction: column;
  justify-content: center; }
  #boxIndex #boxSubtitulo {
    display: flex;
    flex-direction: column;
    text-align: center; }

.contenedor__imagen__index {
  width: 100%;
  height: 200px; }

#mapa {
  margin: 15px auto; }

#boxIndex h2 {
  color: orange; }

.nav-link:hover {
  transform: scale(1.2);
  transition: all 2s , color 2s; }

.col-lg-4 img:hover {
  transform: scale(1.2);
  transition: all 2s; }

.col {
  background-color: orange; }

.contenedorIndex {
  width: 80%;
  height: 400px;
  margin: 100px auto;
  background-image: url(./fotos/ni単oseneltransporte.jpg);
  background-size: cover;
  animation: carrousel 10s infinite;
  display: flex;
  flex-direction: row;
  justify-content: center; }

@keyframes carrousel {
  0% {
    background-image: url(./fotos/ni単oseneltransporte.jpg); }
  25% {
    background-image: url(./fotos/ni単oseneltransporte2.jpg); }
  50% {
    background-image: url(./fotos/ni単oseneltransporte3.jpg); }
  75% {
    background-image: url(./fotos/escuela.jpg); }
  100% {
    background-image: url(./fotos/santamargarita.jpg); } }

.container-fluid__footer {
  background-color: orange; }

#quienessomos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }
  #quienessomos img {
    width: 200px;
    height: 300px;
    border-radius: 50%;
    margin: 5px 50px;
    align-items: center; }

.row p {
  text-align: left;
  padding: 20px 0px 0px 10px; }

.conteiner {
  display: flex;
  flex-direction: column;
  align-items: center; }

#galeria img {
  width: 100%;
  height: 450px; }

#tituloGaleria {
  color: orange; }

.btn {
  background-color: orange; }
