*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Lato', sans-serif;
    font-family: 'Righteous', cursive;
    background-color: map-get($colores , "color-secundario" );
}

.nav-link:hover{
    transform: scale(1.2);
    transition: all 2s , color 2s;
}

.container-fluid{
    background-color: map-get($colores, "color-principal" );
}

.bg-secondary{
    background-color: map-get($colores, "color-principal");
}

.container-fluid__footer{
    background-color: map-get($colores , "color-principal" );
}    

