*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Lato', sans-serif;
font-family: 'Righteous', cursive;
}

.nav-link:hover{
    transform: scale(1.2);
    transition: all 2s , color 2s;
}
    
   

