#boxIndex{
    display: flex;
    flex-direction: flex;
    flex-direction: column;   
    justify-content: center;
    background-color: map-get($colores , "color-secundario" );

    #boxSubtitulo{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}

.contenedor__imagen__index{
    width: 100%;
    height: 200px;

}


#mapa{
    margin: 15px auto;
}

#boxIndex h2{
    color:orange;
    
}

.nav-link:hover{
    transform: scale(1.2);
    transition: all 2s , color 2s;
   

}

.col-lg-4 img:hover{
    transform: scale(1.2);
    transition: all 2s;
}

.col{
    background-color: map-get($colores, "color-principal"  );
}

.contenedorIndex{
    width: 80%;
    height: 400px;
    margin: 100px auto;
    background-image: url(./fotos/ni単oseneltransporte.jpg);
    background-size: cover;
    animation: carrousel 10s infinite;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@keyframes carrousel{
    0%{
        background-image: url(./fotos/ni単oseneltransporte.jpg);
    }
    25%{
        background-image: url(./fotos/ni単oseneltransporte2.jpg);
    }
    50%{
        background-image: url(./fotos/ni単oseneltransporte3.jpg);
    }
    75%{
        background-image: url(./fotos/escuela.jpg);
    }
    100%{
        background-image: url(./fotos/santamargarita.jpg);
    }
    

    }

    