#boxIndex{
    display: flex;
    flex-direction: column;
    
    align-items: center;
}


#mapa{
    margin: 15px auto;
}

#boxIndex h2{
    color:orange;
}

.nav-link:hover{
    transform: scale(1.2);
    transition: all 2s , color 2s;
   

}

.col-lg-4 img:hover{
    transform: scale(1.2);
    transition: all 2s;
}
